logs/
events.out.tfevents.*

wandb/
*.wandb

*.ckpt
*.pth
*.pt
*.h5
*.onnx
*.pb

__pycache__/
*.pyc
*.pyo
.DS_Store
venv/
.env/
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# *.ipynb
**/.ipynb_checkpoints/
*.swn
*.swo
*.swp
*~

*.DS_Store
.idea
.vscode
imgui.ini

/tmp
/data
/demos
/videos
/examples/benchmarking/videos

.coverage*
htmlcov/


*.mp4
*.swp
.python-version
wandb
summaries
*.nn
*.pt
wandb-debug.log
__pycache__
.ipynb_checkpoints
.DS_Store
logs

/cleanrl/runs
/cleanrl/runs/*
/cleanrl/runs*/*

**/runs/
**/runs*/