torch==2.4.0
numpy==1.23.0
pandas==2.2.3
gymnasium==0.29.1
stable_baselines3==2.5.0
ray==2.40.0
mujoco==3.2.7
free-mujoco-py==2.1.6
dm-control==1.0.27
dm-env==1.6
dm-tree==0.1.8
memory-maze==1.0.3
labmaze==1.0.6
pycolab==1.2
vizdoom==1.2.4
tensorflow==2.18.0
tensorboard==2.18.0
tensorboardX==2.6.2.2
jax-jumpy==1.0.0
opencv-python==4.11.0.86
scipy==1.13.1
matplotlib==3.9.4
seaborn==0.13.2
tqdm==4.67.1
wandb==0.19.1
mazelib==0.9.16
absl-py==2.1.0
# gym-minigrid==1.2.2